@import "tailwindcss";

@theme {
  --color-primary: #000;
  --color-primary-foreground: #fff;
  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #000;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fff;
  --color-background: #fff;
  --color-foreground: #000;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-accent: #f4f4f5;
  --color-accent-foreground: #000;
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #000;
}
